body {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    width: 100%; 
  }
  
  .title {
    text-align: left; 
    margin-bottom: 20px; 
  }
  
  .content {
    text-align: left;
  }
  
  h1 {
    font-size: 36px;
    margin: 0;
  }
  
  p {
    font-size: 16px;
  }

  a {
    color: #E01442;
    text-decoration: none;
  }

  .notes {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
  }

  