body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
    margin: 0;
  }

  h2 {
    font-size: 20px;
    margin: 0;
  }
  
  p {
    font-size: 16px;
  }

  a {
    color: #DB0042;
    text-decoration: none;
  }
  
  .container {
    /* border: 1px solid #ccc; */
    max-width: 600px;
    width: 100%; 
  }
  
  .title {
    text-align: left; 
    margin-bottom: 20px; 
  }
  
  .content {
    text-align: left;
  }

  .notes {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
  }

  .items {
    /* border: 1px solid #ccc; */
    margin-left: 20px;
    margin-right: 40px;
  }

  